:root {
  --primary-200: #E8FEC5;
  --primary-300: #C0FA73;
  --primary-400: #57A203;

  --neutral-0: #FFFFFF;
  --neutral-100: #F8F9FA;
  --neutral-300: #DEE2E6;
  --neutral-500: #ADB5BD;
  --neutral-600: #6C757D;
  --neutral-900: #212529;

  --danger-300: #D74F4F;
}

body {
  font-family: Noto Sans TC, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .05em;
  color: var(--neutral-900);
}
* a {
  color: var(--neutral-900);
  text-decoration-line: none;
}
img {
  width: 100%;
  height: auto;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
.block {
  display: block;
}
.inline-flex {
  display: inline-flex;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}
.mr-auto {
  margin-right: auto;
}
.mr-8 {
  margin-right: 8px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-48 {
  margin-right: 48px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}

.p-16 {
  padding: 16px;
}
.pt-32 {
  padding-top: 32px;
}
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.fs-14 {
  font-size: 14px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-28 {
  font-size: 28px;
}
.fs-32 {
  font-size: 32px;
}
.lh-120 {
  line-height: 1.2;
}
.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}
.text-center {
  text-align: center;
}

.text-primary-400 {
  color: var(--primary-400);
}
.text-neutral-500 {
  color: var(--neutral-500);
}
.text-neutral-600 {
  color: var(--neutral-600);
}
.text-neutral-0 {
  color: var(--neutral-0);
}
.text-danger-300 {
  color: var(--danger-300);
}


.breadcrumb-item + .breadcrumb-item::before {
  content: '/';
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 700;
  color: var(--neutral-300);
}
.btn {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: Noto Sans TC, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.btn:disabled {
  cursor: default;
}
.page-item {
  padding: 8px 15px;
  font-weight: 400;
  border-radius: 0px;
}
.page-item.active {
  background-color: var(--primary-300);
  font-weight: 500;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.col-2 {
  width: calc(100% / 12 * 2);
  padding-left: 12px;
  padding-right: 12px;
}
.col-3 {
  width: calc(100% / 12 * 3);
  padding-left: 12px;
  padding-right: 12px;
}
.col-4 {
  width: calc(100% / 12 * 4);
  padding-left: 12px;
  padding-right: 12px;
}
.col-5 {
  width: calc(100% / 12 * 5);
  padding-left: 12px;
  padding-right: 12px;
}
.col-7 {
  width: calc(100% / 12 * 7);
  padding-left: 12px;
  padding-right: 12px;
}
.col-10 {
  width: calc(100% / 12 * 10);
  padding-left: 12px;
  padding-right: 12px;
}
.product-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}
.product-col {
  width: calc(100% / 12 * 6);
  padding-left: 4px;
  padding-right: 4px;
}

.bg-primary-200 {
  background-color: var(--primary-200);
}
.bg-neutral-100 {
  background-color: var(--neutral-100);
}
.bg-neutral-900 {
  background-color: var(--neutral-900);
}

.copyright {
  text-align: center;
  padding-top: 32px;
  border-top: 1px solid var(--neutral-300);
}
.product-color-pic {
  width: 64px;
  height: 64px;
}
.product-btn-outline {
  border: 1px solid;
  border-color: var(--neutral-300);
}
.product-btn-outline.active {
  border-color: var(--neutral-900);
}
.favorite {
  border: 1px solid var(--neutral-900);
}
.product-notice {
  border-bottom: 1px solid var(--neutral-300);
}
